#title {
  color: red;
}

label {
  color: blue;
}

.main-header {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.main-container > div {
  flex-basis: 0;
  flex-grow: 1;
  margin: 5px;
}

h2 {
  text-align: center;
}

.balances-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.balance-card {
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  margin-top: 10px;
}

form button {
  margin-top: 10px;
  font-size: 1.2rem;
}

.transaction-card {
  margin: 5px;
  border-radius: 4px;
  border: 2px solid black;
}

.transaction-positive {
  background-color: green;
}

.transaction-negative {
  background-color: red;
}

.balance-page-balance-container {
  text-align: center;
}

.balance-page-categories-breakdown {
  display: flex;
  flex-direction: row;
}
.balance-page-categories-breakdown-card {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid black;
}
