{{$categoryTitles:=.CategoryTitles}}
<head>
  <title>Tracker</title>
  <link rel="stylesheet" type="text/css" href="static/main.css" />
  <link rel="stylesheet" type="text/css" href="../static/main.css" />
</head>
<body>
  <h1 class="main-header">Expense tracker</h1>
  <div class="main-container">
    <div class="balances-container">
      <h2 class="balances-header">Balances</h2>
      <div class="balances-list">
        {{range .Balances}}
        <div class="balance">{{.ID}}, {{.Title}}</div>
        {{end}}
      </div>
      <form id="create-balance-form">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" />
        <button id="balance-btn" type="submit">Create Balance</button>
      </form>
    </div>
    <div class="categories-container">
      <h2 class="categories-header">Categories</h2>
      <div class="categories-list">
        {{range .Categories}}
        <div class="category">{{.ID}}, {{.Title}}</div>
        {{end}}
      </div>
    </div>
    <div class="transactions-container">
      <h2 class="transactions-header">Transactions</h2>
      <div class="transactions-list">
        {{range $i, $transaction := .Transactions}}
        <div
          class="transaction-card {{if gt $transaction.Amount 0.0}} transaction-positive {{else}} transaction-negative {{end}}"
        >
          <div class="transaction-card-category">
            Category: {{index $categoryTitles $transaction.CategoryID}}
          </div>
          <div class="transaction-card-description">
            Description: {{$transaction.Description}}
          </div>
          <div class="transaction-card-amount">
            Amount: {{$transaction.Amount}}
          </div>
          <div class="transaction-created-at">
            {{$transaction.CreatedAt.Format "Mon, Jan 02, 2006 15:04 UTC"}}
          </div>
        </div>
        {{end}}
      </div>
      <form id="create-transaction-form">
        <label for="transaction-description">Description</label>
        <input
          type="text"
          name="transaction-description"
          id="create-transaction-description"
          required
        />
        <label for="transaction-amount">Amount</label>
        <input
          type="number"
          name="transaction-amount"
          id="create-transaction-amount"
          required
        />
        <label for="transaction-category">Category</label>
        <select name="transaction-category" id="create-transaction-category">
          {{range .Categories}}
          <option value="{{.ID}}">{{.Title}}</option>
          {{end}}
        </select>
        <label for="transaction-balance">Balance</label>
        <select name="transaction-balance" id="create-transaction-balance">
          {{range .Balances}}
          <option value="{{.ID}}">{{.Title}}</option>
          {{end}}
        </select>
        <button id="create-transaction-btn" type="submit">
          Create Transaction
        </button>
      </form>
    </div>
  </div>
  <script>
    (function () {
      // create transaction
      const btn = document.querySelector("#create-transaction-btn");
      btn.addEventListener("submit", async (e) => {
        e.preventDefault();
        const description = document.querySelector(
          "#create-transaction-description"
        ).value;
        const amount = Number(
          document.querySelector("#create-transaction-amount").value
        );
        const categoryId = Number(
          document.querySelector("#create-transaction-category").value
        );
        const balanceId = Number(
          document.querySelector("#create-transaction-balance").value
        );
        const body = { description, amount, categoryId, balanceId };
        const response = await fetch("api/transaction", {
          method: "POST",
          body: JSON.stringify(body),
          headers: {
            "content-type": "Application/json",
          },
        }).then((r) => r.json());
        window.location.reload();
      });
    })();
  </script>

  <script>
    // create balance
    (function () {
      const btn = document.querySelector("#balance-btn");
      btn.addEventListener("submit", async (e) => {
        e.preventDefault();
        const title = document.querySelector("#title").value;
        console.log(title);
        const body = { title };
        console.log(body);

        const response = await fetch("api/balance", {
          method: "POST",
          body: JSON.stringify(body),
          headers: {
            "content-type": "Application/json",
          },
        }).then((r) => r.json());
        window.location.reload();
      });
    })();
  </script>
</body>
