<!-- prettier-ignore -->
{{define "balancePage"}} 
{{$balance := .Balance}} 
{{$transactions :=.Transactions}} 
{{$total := .Total}} 
{{$categoryTitles := .CategoryTitles}}
{{$spentByCategory := .SpentByCategory}}
{{template "header"}}
<div class="balance-page-balance-container">
  <div class="balance-page-balance-details-container">
    <h2>Balance: {{$balance.Title}}</h2>
    <h2>Total: ${{$total}}</h2>
    <div>
      Exchange rate: {{$balance.UsdToCurrency}}{{$balance.Currency}} For 1USD
    </div>

    <h3>Total Gain: {{.TotalGain}}</h3>
    <h3>Total Spent: {{.TotalSpent}}</h3>

    <h3>Average Gain: {{.AverageGain}}</h3>
    <h3>Average Spent: {{.AverageSpent}}</h3>
  </div>
  <hr />
  <!-- TODO: Categories card size based on value, i think then need different rows for gains and spendings -->
  <div class="balance-page-categories-breakdown">
    {{range $categoryID, $value := $spentByCategory }}
    <div class="balance-page-categories-breakdown-card">
      <div>Category: {{index $categoryTitles $categoryID}}</div>
      <div>Total: {{$value}}</div>
    </div>
    {{end}}
  </div>
</div>
<div class="transactions-container">
  <h2 class="transactions-header">Transactions</h2>
  <div class="transactions-list">
    {{range $i, $transaction := $transactions}}
    <div
      class="transaction-card {{if gt $transaction.Amount 0.0}} transaction-positive {{else}} transaction-negative {{end}}"
    >
      <div class="transaction-card-category">
        Category: {{index $categoryTitles $transaction.CategoryID}}
      </div>
      <div class="transaction-card-description">
        Description: {{$transaction.Description}}
      </div>
      <div class="transaction-card-amount">Amount: {{$transaction.Amount}}</div>
      <div class="transaction-created-at">
        {{$transaction.CreatedAt.Format "Mon, Jan 02, 2006 15:04 UTC"}}
      </div>
    </div>
    {{end}}
  </div>
  {{template "createTransaction" .}}
</div>
{{template "footer"}} {{end}}
