{{define "header"}}
<head>
  <title>Tracker</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/main.css" />
  <link rel="stylesheet" type="text/css" href="../static/main.css" />
</head>
<body>
  <h1 class="main-header">Expense tracker</h1>
  <div class="main-container">
{{ end }}
