{{define "main"}} {{template "header" .}} {{$categoryTitles:=.CategoryTitles}}
<!-- TODO: calculate value of each balance, also calculate total value across balances, for each currency, but also convert value across balances to display total value in specific currency -->
<div class="balances-container">
  <h2 class="balances-header">Balances</h2>
  <div class="balances-list">
    {{range .Balances}}
    <a href="balance/{{.ID}}">
      <div class="balance-card">
        <div>{{.Title}}</div>
        <div>Currency: {{.Currency}}</div>
      </div>
    </a>
    {{end}}
  </div>
  {{template "createBalance" .}}
</div>
<div class="categories-container">
  <h2 class="categories-header">Categories</h2>
  <div class="categories-list">
    {{range .Categories}}
    <div class="category">{{.ID}}, {{.Title}}</div>
    {{end}}
  </div>
  {{template "createCategory" .}}
</div>
<div class="transactions-container">
  <h2 class="transactions-header">Transactions</h2>
  {{template "createTransaction" .}}
  <div class="transactions-list">
    {{range $i, $transaction := .Transactions}}
    <div
      class="transaction-card {{if gt $transaction.Amount 0.0}} transaction-positive {{else}} transaction-negative {{end}}"
    >
      <div class="transaction-card-category">
        Category: {{index $categoryTitles $transaction.CategoryID}}
      </div>
      <div class="transaction-card-description">
        Description: {{$transaction.Description}}
      </div>
      <div class="transaction-card-amount">Amount: {{$transaction.Amount}}</div>
      <div class="transaction-created-at">
        {{$transaction.CreatedAt.Format "Mon, Jan 02, 2006 15:04 UTC"}}
      </div>
    </div>
    {{end}}
  </div>
</div>
{{template "footer" .}} {{end}}
